<div>
  <strong>Welcome to the <%= @cohort.term %> Cohort</strong> |
    <% if signed_in? %> 
      <%=link_to "Edit Cohort", edit_cohort_path(@cohort) %> |
      <%=link_to "Delete Cohort", @cohort, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
<div>
  <% @cohort.users.each do |user| %>
    <%= user.first_name + " " + user.last_name %><br>
    <%= user.username %><br>
    <%= user.role %><br>
  <% end %>
</div>
<div>
  <% @cohort.projects.each do |project| %>
    <%= project.title %> | <%= project.link %><br>
    <% project.groups.each_with_index do |group, index| %>
      <%= "Group Number " + (index + 1).to_s + " has " + pluralize(group.group_memberships.count, "member") %>
    <% end %>
  <% end %>
</div>
